body{
    background-color: rgb(200, 215, 235);
    
}

button{
    margin: 5px;    
    background-color: rgb(210, 230, 250);
    color: darkred;
}
.actionButton{
    width: 300px;
}
.logout-btn{
    background-color: rgb(210, 230, 250);
    color: darkred;
    font-weight: 700;
}

#login-div{
    text-align: center;
    padding-top: 180px;
}
#title{
    text-align: center;
}

.expenseHeader{
    column-width: 150px;
    min-width: 150px;
}
th{
    padding: 5px;
}
.dateField{
    font-size: 14px;
    font-weight: bold;
    padding-right: 10px;
}
.amountField{
    color:green;
    font-weight: bold;
}
.reasonField{
    text-align: center;
    padding-right: 5px;
}

.action-buttons-td{
    min-width: 135px;
}

#newExpenseTextInput{
    width: 300px;
}

#newExpenseAmountInput{
    width: 80px;
}



#bg-img{
    z-index: -100;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
    width: 960px;
    height: 600px;
    background-image: url("../public/planex-logo.png");
}
#wrapper{
    float: center;
    display: block;
    max-width: 960px;
    margin: auto;
    padding: 20px;
    padding-top: 5px;
}

#stat-table{
    width: 900px;
    font-weight: bold;
}
.stat-label{
    max-width: 150px;
}
.stat-data{
    text-align: left;
    max-width: 50px;
}